<%= form_with(model: logotext, local: true) do |form| %>
  <% if logotext.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(logotext.errors.count, "error") %> prohibited this logotext from being saved:</h2>

      <ul>
      <% logotext.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_field :text, id: :logotext_text %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
