<div class="container">    
<% if Cmsadmin.count == 0 %>
    <h1>Welcome to Docimer!</h1><br>
    <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>
    <br>
    <%= render "cmsadmins/shared/links" %> 
        <br>
        <h4>Please keep your password safe. If misplaced, you will not be able to recover it.</h4>
<% else %>    
    <br><br><br>    
    <h3>Sorry, you cannot access this page.</h3><br>
    <h4>If you've lost your password, use the "<a href="http://guides.rubyonrails.org/command_line.html#rails-console" target="_new">rails console</a>" to create a new admin. . .</h4><br>
    <h4>e.g.</h4><br>
    <pre><code>
        Cmsadmin.create!(email: "you@example.com", password: "misplaced", password_confirmation: "misplaced")
    </code></pre>
    <br>
    <%= render "cmsadmins/shared/links" %>
<% end %>    
</div>