<div class="container">
    <h1>Text Color</h1>
    <%= form_with(model: text_color, local: true) do |form| %>
      <% if text_color.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(text_color.errors.count, "error") %> prohibited this text_color from being saved:</h2>

          <ul>
          <% text_color.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :name %><br>
        <%= form.text_field :name, required: :true %>
          <p><small>e.g. Teal</small></p><br>
      </div>

      <div class="field">
        <%= form.label :color %><br>
        <%= form.text_field :color, id: :text_color_color %>
          <p><small>e.g. #008080</small></p><br>
      </div>

      <div class="actions">
        <%= form.submit %>
      </div>
    <% end %>
</div>