<!DOCTYPE html>
<html>
  <head>
    <title><%= render "layouts/statement/title" %></title>  
    <meta name="description" content="<% @homes.each do |home| %> <%= home.sub_title %> <% end %>">  
    <link rel="shortcut icon" href="/assets/medium/docimer.ico"/>  
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>      
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<% if cmsadmin_signed_in? %>    
    <body>
        <%= render "layouts/statement/admin_signed" %>
    </body>
    
<% else %>
    <%= render "layouts/statement/admin_not_signed" %> 
<% end %> 
     
</html>
